#gameboard{
    display: grid;
    width: 720px;
    height: 900px;
    grid-template-areas: "buf-l  title  title   buf-r"
                        "buf-l  rules   rules   buf-r"
                        "buf-l  return  return   buf-r"
                        "buf-l  play    play    buf-r"; 
    grid-template-rows: 1fr 60px 1fr 1fr;
    grid-template-columns: 20px 1fr 1fr 20px;
}

#gameboard{
    background-image: url(../images/coen-brothers-retro.jpg);
    background-size: contain;
}

#gameboard > .title{
    grid-area: title;
}
#gameboard > .rules{
    grid-area: rules
}
 #gameboard > .playResults{
    grid-area: return;
}

#gameboard > .wordPlay{
    grid-area: play;
}

#gameboard > .buffer-l{
    grid-area: buf-l;
}

#gameboard > .buffer-r{
    grid-area: buf-r;
}

#wordPlacer{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border-style: none;
}

.letterPlacer{
    position: relative;
    display: flex;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border-style: none;
    list-style: none;
}

.bg-play{
    background-color: antiquewhite;
    opacity: .97;
}